.containt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    

    height: 300px;
    width: 400px;
}
h1{
    display: flex;
    justify-content: center;
    margin: 20px;
}