<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Counter</title>
</head>
<body>
    <div>
        <div class="card text-center">
            <div class="card-body">
            <h5 class="card-title">Counter</h5>
            <p class="card-text">{{session['counter']}}</p>
            
            </div>
                <form action="/res" method="post">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a href="http://127.0.0.1:5000/counter"><button type="button" class="btn btn-outline-primary">counter</button></a>
                    
                    <button type="submit" class="btn btn-outline-primary">reset</button>
                </div>
            </form>
        </div>



    </div>
</body>
</html>