.formulaire{
    display: flex;
    background-color: #282c34;
    height:100px;
    align-items: center;
    justify-content: center; 
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 10px;
    width: 100%px;
    flex-direction: row;
    /* justify-content: space-evenly */
    
}
input{
    width:250px ;
}

.box{
    display: flex;
    flex-direction: row;
    margin: 10px;

}