<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dojo survey</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container-md bg-dark text-white p-2 mt-5 col-5 mx-auto  ">
        <form action="" class="d-flex flex-column justify-content-between  ">
            <div class="form-group">
              <label for="exampleFormControlInput1">your name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="name">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">dojo location</label>
              <select class="form-control" id="exampleFormControlSelect1" name="location">
                <option selected>--select a location--</option>
                <option value="new york">new york</option>
                <option value="jandouba">jandouba</option>
                <option value="sidi amor">sidi amor</option>
               
              </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">favorite language</label>
                <select class="form-control" id="exampleFormControlSelect1" name="language">
                  <option selected>--select language--</option>
                  <option value="css">css</option>
                  <option value="java">java</option>
                  <option value="python">python</option>
                </select>
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">comment (optional)</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</select>
</div>

</body>
</html>